absl-py
asgiref
attrs
cffi
contourpy
cycler
Django
django-cors-headers
djangorestframework
flatbuffers
fonttools
jax
jaxlib
kiwisolver
matplotlib
mediapipe
ml_dtypes
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pillow
protobuf
pycparser
pyparsing
python-dateutil
scipy
sentencepiece
six
sounddevice
sqlparse
tzdata
